Flask
Flask-Session
requests
python-dotenv
openai
gunicorn
cryptography
Werkzeug
Jinja2
itsdangerous
click
blinker
cachelib
charset-normalizer
idna
urllib3
certifi
anyio
distro
httpx
jiter
pydantic
sniffio
tqdm
typing-extensions
packaging
cffi
pycparser
httpcore
h11
MarkupSafe
